<!-- @format -->

<% include partial/header %>
<body>
  <main class="container">
    <div class="homePageBox">
      <h1>welcome to users directory</h1>
      <button>
        <a href="/users/login">login</a>
      </button>
      <button>
        <a href="/users/register">register</a>
      </button>
    </div>
  </main>
</body>
