<!-- @format -->

<% include partial/header %>
<body>
  <main class="container">
    <div class="registerFormBox">
      <p><%= user.name %></p>
      <p><%= user.email %></p>
      <button class="logout">
        <a href="/users/logout"> logout </a>
      </button>
    </div>
  </main>
</body>
