/** @format */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100vw;
  width: 80%;
  margin: auto;
}

.eflash {
  font-size: 1rem;
  font-weight: 100;
  color: red;
}
.pHeader {
  background-color: cornflowerblue;
  padding: 1rem 0;
  .logo {
    font-size: 2rem;
    text-decoration: none;
    color: white;
  }
  nav {
    display: flex;
    justify-content: space-between;
    div {
      width: 15%;
      display: flex;
      justify-content: space-between;
      button {
        font-size: 1.2rem;
        background-color: rgb(29, 218, 107);
        padding: 0.3rem 0.5rem;
        border-radius: 4px;
        border: 1px solid white;
        text-transform: capitalize;

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

// loginContainer
.loginContainer {
  width: 50%;
  margin: auto;
  border: 2px solid cornflowerblue;
  // border: 2px solid rgb(241, 134, 33);

  padding: 1rem;
  margin-top: 3rem;

  form {
    width: 100%;
    input {
      width: 100%;
      font-size: 1.2rem;
      text-transform: capitalize;
      padding: 0.5rem;
      margin: 1rem 0;
      outline-color: rgb(241, 134, 33);
    }

    button {
      text-transform: capitalize;
      font-weight: 700;
      padding: 0.5rem 1rem;
      color: white;
      border: 1px solid blue;
      background-color: cornflowerblue;
      &:hover {
        background-color: blue;
      }
    }
  }
}
