<!-- @format -->

<% include partial/header %>
<body>
  <main class="container registerFormContainer">
    <h1>get user login</h1>
    <div class="rform">
      <h3 class="error"><%= msg %></h3>
      <form action="/users/login" method="post">
        <input type="email" name="email" placeholder="email" />
        <input type="password" name="password" placeholder="password" />
        <button type="submit">login</button>
      </form>
    </div>
  </main>
  <% include partial/footer %>
</body>
