<!-- @format -->

<% include partial/header %>
<body>
  <main class="container">
    <div class="loginBox">
      <form action="/users/register" method="post">
        <h2>register</h2>
        <input type="text" name="name" placeholder="Name" />
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">register</button>
      </form>
    </div>
  </main>
</body>
