<!-- @format -->

<% include partial/header %>
<body>
  <main class="container">
    <div class="loginFormBox">
      <form action="/users/login" method="post">
        <input type="email" name="email" placeholder="email" />
        <input type="password" name="password" placeholder="password" />
        <input class="lgb" type="submit" value="login" />
      </form>
    </div>
  </main>
</body>
