<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog-app</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <footer>
      <nav class="container flex justify-between align-end">
        <a href="">blogger</a>
        <ul class="flex justify-between">
          <li>
            <a href="">contact us</a>
          </li>
          <li>
            <a href="">privacy</a>
          </li>
          <li>
            <a href="">terms of use</a>
          </li>
          <li>
            <a href="">trademarks</a>
          </li>
          <li>
            <a href="">about our ads</a>
          </li>
          <li>
            <a href="">&copy;blogs 2022</a>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
